.form-control {
    border-radius: 0;
}

.input-group-text {
    background: #035E7B;
    border-radius: 0;
}
.fa-search {
    color: white;
}

#buttons {
    display: flex;
    justify-content: end;
    border-bottom-width: 0;
}

.btn-primary {
    margin-right: 10px;
    border-radius: 0;
    background: #035E7B;
    border: 1px;
}

.btn-danger {
    border-radius: 0;
    background: #d91424;
    border: 1px;
}

.btn-success {
    margin-right: 10px;
    border-radius: 0;
    background: #228f28;
    color: white;
    border: 1px;
}

.table-row {
    background-color: whitesmoke;
}



.table-data {
    padding-top: 12px;
}

.form-check-input{
    border: 1px solid #328ba8;
}