<div class="row">
  <div class="col">
    <div class="input-group mb-4" style="width: 300px">
      <span class="input-group-text" id="inputGroup-sizing-default"
        ><i class="fa fa-search"></i
      ></span>
      <input
        type="text"
        class="form-control"
        placeholder="Search task.."
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
        [(ngModel)]="search"
      />
    </div>
  </div>
  <div class="col">
    <div *ngIf="isDeletedFlag" class="alert alert-danger" role="alert">
      {{ status }}
    </div>
    <div *ngIf="notDeleted || addFail" class="alert alert-danger" role="alert">
      <span>&times;</span>
      {{ status }}
    </div>
    <div *ngIf="isEditedFlag" class="alert alert-primary" role="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none'"
        >&times;</span
      >
      {{ status }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <!--tabela taskova-->
    <table class="table table-borderless">
      <thead>
        <tr>
          <!-- <th scope="col">ID</th> -->
          <th score="col">No.</th>
          <th scope="col">Task</th>
          <th scope="col">Added on date</th>
          <th scope="col">Status</th>
          <th scope="col">Deadline</th>
          <th scope="col">Check</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row" *ngFor="let task of filterArray">
          <th class="table-data" scope="row">{{ task.id }}.</th>
          <td class="table-data">
            <input
              class="form-control"
              *ngIf="selectedTask.id === task.id"
              type="text"
              placeholder="{{ task.text }}"
              [(ngModel)]="newText"
              required
            />
            <span *ngIf="!isClicked">{{ task.text }}</span>
          </td>
          <td class="table-data" style="color: green">
            <span>{{ task.date | convertDashToSpace: "-" }}</span>
          </td>
          <td class="table-data">
            <b *ngIf="!task.done"
              ><i class="fa fa-times fa-lg" style="color: red"></i
            ></b>
            <b *ngIf="task.done"
              ><i class="fa fa-check fa-lg" style="color: green"></i
            ></b>
          </td>
          <td class="table-data" style="color: red">
            <input
              *ngIf="selectedTask.id === task.id"
              [(ngModel)]="newDeadline"
              value="30-11-2020"
              type="date"
              class="form-control"
              data-date-format="dd-MM-yyyy"
              data-date-type="number"
              data-min-date="today"
              data-autoclose="1"
              name="date2"
              bs-datepicker
            />
            <span>{{ task.deadline }}</span>
          </td>

          <td class="table-data" style="padding-top: 18px">
            <div *ngIf="selectedTask.id === task.id">
              <i
                *ngIf="!task.done && isClicked"
                class="fa fa-toggle-off fa-lg"
                (click)="checkDoneTask(task)"
              >
                <!-- <i class="fa fa-pencil"></i> -->
              </i>
            </div>
            <i
              *ngIf="!isClicked && task.done"
              class="fa fa-toggle-on fa-lg"
              (click)="checkDoneTask(task)"
            >
              <!-- <i class="fa fa-pencil"></i> -->
            </i>

            <i
              *ngIf="!task.done && !isClicked"
              class="fa fa-toggle-off fa-lg"
              (click)="checkDoneTask(task)"
            >
              <!-- <i class="fa fa-pencil"></i> -->
            </i>

            <div *ngIf="selectedTask.id === task.id">
              <i
                *ngIf="isClicked && task.done"
                class="fa fa-toggle-on fa-lg"
                (click)="checkDoneTask(task)"
              >
                <!-- <i class="fa fa-pencil"></i> -->
              </i>
            </div>
          </td>

          <td id="buttons">
            <div *ngIf="selectedTask.id === task.id">
              <button
                *ngIf="isClicked"
                class="btn btn-success"
                (click)="updateTodo(task)"
              >
                <i class="fa fa-pencil"></i>
              </button>
            </div>
            <button
              *ngIf="!isClicked"
              class="btn btn-primary"
              (click)="showHideEdit(task)"
            >
              <i class="fa fa-pencil"></i>
            </button>

            <button
              *ngIf="!isClicked"
              data-toggle="modal"
              data-target="#exampleModalCenter"
              class="btn btn-danger"
              (click)="confirm(task)"
            >
              <i class="fa fa-trash"></i>
            </button>

            <div *ngIf="selectedTask.id === task.id">
              <button
                *ngIf="isClicked"
                class="btn btn-danger"
                (click)="cancel()"
              >
                <i class="fa fa-ban"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
