.table {
  width: 103%;
}

.form-control {
    border-radius: 0;
}

.input-group-text {
    background: #035E7B;
    border-radius: 0;
}
.fa-search {
    color: white;
}

#buttons {
    display: flex;
    justify-content: end;
    border-bottom-width: 0;
}

.alert-danger {
    padding: 6px;
    color: red;
    font-weight: 900;
  
}


/* .closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .closebtn:hover {
    color: white;
  } */



.alert-primary {
padding: 6px;
color: blue;
font-weight: 900;
}

.btn-primary {
    margin-right: 10px;
    border-radius: 0;
    background: #035E7B;
    border: 1px;
}

.btn-danger {
    border-radius: 0;
    background: #d91424;
    border: 1px;
}

.btn-success {
    margin-right: 10px;
    border-radius: 0;
    background: #228f28;
    color: white;
    border: 1px;
}

.table-row {
    background-color: whitesmoke;
}



.table-data {
    padding-top: 12px;
}

.form-check-input{
    border: 1px solid #328ba8;
}

.fa-toggle-off:hover {
    cursor: pointer;
}

.fa-toggle-on:hover {
    cursor: pointer;
}


.fa-check, .fa-times {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }