.input-group{
    width: 400px;
    height: 50px;
}

#deadline-picker {
    height: 45px;
}

.btn-warning {
    margin-top: 12px;
    /* margin-bottom: 10px; */
    background: #035E7B;
    color: white;
    border: 1px;
    border-radius: 0;
}

.fa-plus-circle {
    margin-right: 5px;
}

.fa-calendar {
    color: red;
}

.alert-success{
    color: green;
    padding: 6px;
    font-weight: 900;
    margin-top: 13px;
    margin-bottom: 0;
  }