<div>
  <div class="input-group input-group-md">
    <input
      type="text"
      class="form-control mb-1"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"
      placeholder="Add task.."
      [(ngModel)]="_text"
      minlength="1"
      maxlength="60"
      required
    />
  </div>
  <form name="datepickerForm" class="form-inline deadline-picker" role="form">
    <div
      class="form-group"
      ng-class="{ 'has-error': datepickerForm.date2.$invalid }"
    >
      <label class="control-label"
        ><i class="fa fa-calendar"></i> Deadline</label
      >
      <input
        id="deadline-picker"
        [(ngModel)]="deadline"
        value="30-11-2020"
        type="date"
        class="form-control"
        data-date-format="dd-MM-yyyy"
        data-date-type="number"
        data-min-date="today"
        data-autoclose="1"
        name="date2"
        bs-datepicker
        required
      />
    </div>
  </form>
  <!-- <div class="row">
    <div class="col">
      <mat-form-field>
        <input [(ngModel)] ="deadline" matInput [matDatepicker]="picker" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
    </div>
  </div> -->
  
  
  

  <button type="button" class="btn btn-warning" (click)="addTodo()">
    <i class="fa fa-plus-circle"></i>Add task
  </button>

  <div class="row">
    <div class="col">
      <div *ngIf="isAdded" class="alert alert-success" role="alert">
        {{ status }}
      </div>
      <div *ngIf="addFail" class="alert alert-danger" role="alert">
        {{ status }}
      </div>
    </div>
  </div>
  <hr style="margin-bottom: 30px" />
</div>
